{% extends "lintory/hardware_detail.html" %}
{% load inventory %}

{% block class="infobox" %}
{% if object.is_portable %}
<dt>Portable</dt><dd>Computer is portable and may be moved to other locations and networks.</dd>
{% else %}
<dt>Portable</dt><dd>Computer is not-portable and not likely to be moved to other locations and networks.</dd>
{% endif %}
{% if object.memory %}
<dt>Memory</dt><dd>{{ object.memory|bytes }}</dd>
{% endif %}
{% endblock %}

{% block class="body_start" %}
{% if object.license_set.all %}
<h2>OEM Licenses</h2>
{% show_license_list object.license_set.all %}
{% endif %}

{% if object.used_storage.all %}
<h2>Uses Storage</h2>
{% show_hardware_list object.used_storage.all %}
{% endif %}

{% with object.os_list as os_list %}
{% if os_list %}
<h2>OS</h2>
{% show_os_list os_list %}
{% endif %}
{% endwith %}

{% with object.active_software_installations as active_software_installations %}
{% if active_software_installations %}
<h2>Active Software Installations</h2>
{% show_software_installation_list active_software_installations %}
{% endif %}
{% endwith %}

{% with object.inactive_software_installations as inactive_software_installations %}
{% if inactive_software_installations %}
<h2>Deleted Software Installations</h2>
{% show_software_installation_list inactive_software_installations %}
{% endif %}
{% endwith %}

{% endblock %}
