{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% block tools %}
{% get_permissions_from_web "add_perm" "edit_perm" "delete_perm" user web %}
{% if add_perm or edit_perm or delete_perm %}
    <ul class="object-tools">
    {% if edit_perm %}
        <li><a class="changelink" href="{% web_url web 'edit' object %}">Edit</a></li>
    {% endif %}
    {% if delete_perm %}
        <li><a class="deletelink" href="{% web_url web 'delete' object %}">Delete</a></li>
    {% endif %}
    </ul>
{% endif %}
{% endblock %}

{% show_error_list object.error_list %}

<dl class="infobox">
<dt>Date</dt><dd>{{object.datetime}}</dd>
<dt>File</dt><dd>{{object.file}}</dd>

<dt>Computer</dt><dd>
{% if object.computer %}
        <a href="{{ object.computer.get_absolute_url }}">{{ object.computer }}</a>
{% else %}
    {% if object.create_computer %}
        create
    {% else %}
        auto-detect
    {% endif %}
{% endif %}
</dd>

<dt>OS</dt><dd>
{% if object.os %}
        <a href="{{ object.os.get_absolute_url }}">{{ object.os }}</a>
{% else %}
    {% if object.create_os %}
        create
    {% else %}
        auto-detect
    {% endif %}
{% endif %}
</dd>

<dt>Imported</dt><dd>{{ object.imported }}</dd>
<dt>Last attempt</dt><dd>{{ object.last_attempt }}</dd>

{% if object.comments %}
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
{% endif %}
</dl>

{% if object.errors %}
<h2>Errors</h2>
{{ object.errors|linebreaks }}
{% endif %}

<h2>History</h2>
{% show_history object %}

{% if perms.lintory.can_see_key %}
<h2>Raw Data</h2>
{{ object.file.file.read|linebreaks }}
{% endif %}

{% endblock %}
