{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% block tools %}
{% show_view_buttons web user object %}
{% endblock %}

{% show_error_list object.error_list %}

<dl class="infobox">
<dt>Date</dt><dd>{{object.datetime}}</dd>
<dt>File</dt><dd>{{object.file}}</dd>

<dt>Computer</dt><dd>
{% if object.computer %}
        <a href="{% get_view_url object.computer %}">{{ object.computer }}</a>
{% else %}
    {% if object.create_computer %}
        create
    {% else %}
        auto-detect
    {% endif %}
{% endif %}
</dd>

<dt>OS</dt><dd>
{% if object.os %}
        <a href="{% get_view_url object.os %}">{{ object.os }}</a>
{% else %}
    {% if object.create_os %}
        create
    {% else %}
        auto-detect
    {% endif %}
{% endif %}
</dd>

<dt>Imported</dt><dd>{{ object.imported }}</dd>
<dt>Last attempt</dt><dd>{{ object.last_attempt }}</dd>

{% if object.comments %}
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
{% endif %}
</dl>

{% if object.errors %}
<h2>Errors</h2>
{{ object.errors|linebreaks }}
{% endif %}

<h2>History</h2>
{% show_history object %}

{% if perms.lintory.can_see_key %}
<h2>Raw Data</h2>
{{ object.file.file.read|linebreaks }}
{% endif %}

{% endblock %}
