{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% block tools %}
{% get_permissions_from_type "add_perm" "edit_perm" "delete_perm" user object.type %}
{% if perms.lintory.change_hardware or perms.inventory.delete_hardware %}
{% if add_perm or edit_perm or delete_perm %}
    <ul class="object-tools">
    {% if perms.lintory.add_hardware %}
        <li><a class="addlink" href="{{ object.get_create_url }}">Create</a></li>
    {% endif %}
    {% if perms.lintory.change_hardware and edit_perm %}
        <li><a class="changelink" href="{{ object.get_edit_url }}">Edit</a></li>
        <li><a class="changelink" href="{{ object.get_install_url }}">Install</a></li>
    {% endif %}
    {% if perms.lintory.delete_hardware and delete_perm %}
        <li><a class="deletelink" href="{{ object.get_delete_url }}">Delete</a></li>
    {% endif %}
    </ul>
{% endif %}
{% endif %}
{% endblock %}

<dl class="infobox">
<dt>{{ object.type.single_name|capfirst }}</dt><dd>{{ object }}</dd>
{% block class="infobox" %}{% endblock %}
<dt>First seen</dt><dd>{{ object.seen_first }}</dd>
<dt>Last seen</dt><dd>{{ object.seen_last }}</dd>
<dt>Manufacturer</dt><dd>{{ object.manufacturer }}</dd>
<dt>Model</dt><dd>{{ object.model }}</dd>
<dt>Product Number</dt><dd>{{ object.product_number }}</dd>
<dt>Serial Number</dt><dd>{{ object.serial_number }}</dd>
<dt>Service Number</dt><dd>{{ object.service_number }}</dd>
<dt>Date of Manufacture</dt><dd>{{ object.date_of_manufacture }}</dd>
<dt>Date of Disposal</dt><dd>{{ object.date_of_disposal }}</dd>
<dt>Asset ID</dt><dd>{{ object.asset_id }}</dd>
{% if object.get_owner %}
<dt>Owner</dt><dd><a href="{{ object.get_owner.get_absolute_url }}">{{ object.get_owner }}</a></dd>
{% endif %}
{% if object.get_user %}
<dt>User</dt><dd><a href="{{ object.get_user.get_absolute_url }}">{{ object.get_user }}</a></dd>
{% endif %}
{% if object.location %}
<dt>Location</dt><dd><a href="{{object.location.get_absolute_url }}">{{object.location }}</a></dd>
{% endif %}
{% if object.vendor %}
<dt>Vendor</dt><dd><a href="{{ object.vendor.get_absolute_url }}">{{ object.vendor }}</a></dd>
{% endif %}
{% if object.installed_on %}
{% with object.installed_on.get_object as installed_on %}
<dt>Installed on</dt><dd><a href="{{ installed_on.get_absolute_url }}">{{ installed_on }}</a></dd>
{% endwith %}
{% endif %}
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

{% show_error_list object.error_list %}

{% block class="body_start" %}{% endblock %}
{% if object.network_adaptors.all %}
<h2>Network adaptors</h2>
<table>
  <tr>
    <th></th>
    <th>Mac Address</th>
  </tr>
{% for na in object.network_adaptors.all %}
    {% with na.error_list as error_list %}{% if error_list %}
    <tr><td colspan='5'>{% show_error_list error_list %}</td></tr>
    {% endif %}{% endwith %}
    <tr>
      <td><a href="{{ na.get_absolute_url }}">{{na.name}}</a></td>
      <td><a href="{% url hardware_list %}?mac_address={{ na.mac_address }}">{{na.mac_address}}</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if object.hardware_tasks_todo %}
<h2>Todo tasks</h2>
{% show_hardware_task_list object.hardware_tasks_todo %}
{% endif %}

{% if object.hardware_tasks_done %}
<h2>Done tasks</h2>
{% show_hardware_task_list object.hardware_tasks_done %}
{% endif %}

{% if object.installed_hardware.all %}
<h2>Hardware Installations</h2>
{% show_hardware_list object.installed_hardware.all %}
{% endif %}

{% block class="body_end" %}{% endblock %}

<h2>History</h2>
{% show_history object %}

{% endblock %}
