{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Inventory{% endblock %}

{% block content %}

<ul>
<li><a href="{% url party_list %}">parties</a></li>
<li><a href="{% url task_list %}">tasks</a></li>
<li><a href="{% url location_detail 1 %}">locations</a></li>
<li><a href="{% url software_list %}">software</a></li>
<li><a href="{% url hardware_list %}">hardware</a><ul>
    <li><a href="{% url hardware_type_list "motherboard" %}">motherboards</a></li>
    <li><a href="{% url hardware_type_list "processor" %}">processors</a></li>
    <li><a href="{% url hardware_type_list "video_controller" %}">video controllers</a></li>
    <li><a href="{% url hardware_type_list "network_adaptor" %}">network adaptors</a></li>
    <li><a href="{% url hardware_type_list "storage" %}">storage</a></li>
    <li><a href="{% url hardware_type_list "power_supply" %}">power supplies</a></li>
    <li><a href="{% url hardware_type_list "computer" %}">computers</a></li>
    <li><a href="{% url hardware_type_list "monitor" %}">monitors</a></li>
    <li><a href="{% url hardware_type_list "multifunction" %}">multifunction</a></li>
    <li><a href="{% url hardware_type_list "printer" %}">printers</a></li>
    <li><a href="{% url hardware_type_list "scanner" %}">scanners</a></li>
</ul></li>
<li><a href="{% url license_list %}">licenses</a></li>
<li><a href="{% url vendor_list %}">vendors</a></li>
<li><a href="{% url data_list %}">Raw unprocessed data</a></li>
</ul>

{% endblock %}
