{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{% if perms.lintory.can_see_key %}{{ object.key }}{% else %}LK{{ object.pk }}{% endif %}{% endblock %}

{% block content %}

<h1>{% if perms.lintory.can_see_key %}{{ object.key }}{% else %}LK{{ object.pk }}{% endif %}</h1>

{% block tools %}
{% show_view_buttons web user object %}
{% endblock %}

<dl class="infobox">
<dt>License key</dt><dd>{% if perms.lintory.can_see_key %}{{ object.key }}{% else %}LK{{ object.pk }}{% endif %}</dd>
<dt>Num installations</dt><dd>{{object.software_installations_found}}</dd>
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

{% show_error_list object.error_list %}

<h2>Software</h2>

<a href="{{object.software.get_absolute_url}}">{{object.software}}</a>

<h2>License</h2>

<a href="{{object.license.get_absolute_url}}">{{object.license}}</a>

<h2>Active Software Installations</h2>

{% show_software_installation_list object.active_software_installations %}

<h2>Deleted Software Installations</h2>

{% show_software_installation_list object.inactive_software_installations %}

<h2>History</h2>

{% show_history object %}

{% endblock %}
