{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load inventory %}
{% load webs %}

{% block title %}{% if perms.lintory.can_see_key %}{{ object.key }}{% else %}LK{{ object.pk }}{% endif %}{% endblock %}
{% block object_title %}{% if perms.lintory.can_see_key %}{{ object.key }}{% else %}LK{{ object.pk }}{% endif %}{% endblock %}

{% block object %}
<dl class="infobox">
<dt>License key</dt><dd>{% if perms.lintory.can_see_key %}{{ object.key }}{% else %}LK{{ object.pk }}{% endif %}</dd>
<dt>Num installations</dt><dd>{{object.software_installations_found}}</dd>
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

<h2>Software</h2>

<a href="{% get_view_url object.software %}">{{object.software}}</a>

<h2>License</h2>

<a href="{% get_view_url object.license %}">{{object.license}}</a>

<h2>Active Software Installations</h2>

{% show_software_installation_list object.active_software_installations %}

<h2>Deleted Software Installations</h2>

{% show_software_installation_list object.inactive_software_installations %}

<h2>History</h2>

{% show_history object %}

{% endblock %}
