{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Locations{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

<dl class="infobox">
<dt>Location</dt><dd><a href="{{ object.get_absolute_url }}">{{ object }}</a></dt>
{% if task %}
<dt>Task</dt><dd><a href="{{ task.get_absolute_url }}">{{ task }}</a></dt>
{% endif %}
</dl>

<h2>Todo Tasks</h2>

{% show_hardware_task_list todo_hardware_tasks %}

{% endblock %}
