{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load inventory %}

{% block title %}{{ object }}{% endblock %}

{% block object %}
<h1>{{ object }}</h1>

{% block tools %}
{% show_view_buttons web user object %}
{% endblock %}

<dl class="infobox">
<dt>Location</dt><dd>{{ object }}</dd>
<dt>Address</dt><dd>{{ object.address|linebreaks }}</dd>
<dt>Owner</dt><dd><a href="{% get_view_url object.get_owner %}">{{ object.get_owner }}</a></dd>
{% if object.get_user %}
<dt>User</dt><dd><a href="{% get_view_url object.get_user %}">{{ object.get_user }}</a></dd>
{% endif %}
{% if object.parent %}
<dt>Parent</dt><dd><a href="{% get_view_url object.parent %}">{{ object.parent }}</a></dd>
{% endif %}
{% has_svg_file svg object %}
{% if svg %}
<dt>Diagram</dt><dd><a href="{% get_svg_url object %}">SVG</a></dd>
{% endif %}
<dt>Comments</dt><dd>{{ object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

{% if object.children.all %}
<h2>Sublocations</h2>
{% show_location_list object.children.all %}
{% endif %}

{% with object.get_self_or_children_hardware as hardware_list %}
{% if hardware_list %}
<h2>Hardware</h2>
{% show_hardware_list hardware_list %}
{% endif %}
{% endwith %}

{% with object.tasks as tasks %}
{% if tasks %}
<h2>Tasks</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>Done</th>
        <th>Todo</th>
{% if perms.lintory.change_location or perms.inventory.delete_location %}
        <th colspan="2">Actions</th>
{% endif %}
      </tr>
      <tr>
         <td><a href="{% url location_task_list object.pk %}">all tasks</a></td>
         <td>-</td>
         <td>-</td>
         <td>-</td>
      </tr>
    {% for task in tasks %}
      <tr>
        <td><a href="{% url location_task object.pk task.pk %}">{{ task }}</a></td>
        <td>{{task.hardware_tasks_all.count}}</td>
        <td>{{task.hardware_tasks_done.count}}</td>
        <td>{{task.hardware_tasks_todo.count}}</td>
{% if perms.lintory.change_location or perms.inventory.delete_location %}
{% if perms.lintory.change_location %}
        <td><a class="changelink" href="{{ task.get_edit_url }}">edit</a></td>
{% else %}
        <td></td>
{% endif %}
{% if perms.lintory.delete_location %}
        <td><a class="deletelink" href="{{ task.get_delete_url }}">delete</a></td>
{% else %}
        <td></td>
{% endif %}
{% endif %}
      </tr>
    {% endfor %}
    </table>
{% endif %}
{% endwith %}

<h2>History</h2>

{% show_history object %}

{% endblock %}
