{% extends "lintory/hardware_detail.html" %}

{% block class="infobox" %}
<dt>Technology</dt><dd>{{ object.technology }}</dd>
{% if object.size %}
<dt>Size</dt><dd>{{ object.size }} inches</dd>
{% endif %}
{% if object.width %}
<dt>Width</dt><dd>{{ object.width }} pixels</dd>
{% endif %}
{% if object.height %}
<dt>Height</dt><dd>{{ object.height }} pixels</dd>
{% endif %}
{% if object.widescreen %}
<dt>Ratio</dt><dd>Widescreen</dd>
{% else %}
<dt>Ratio</dt><dd>Standard</dd>
{% endif %}
{% endblock %}
