{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block stylesheet %}{{ MEDIA_URL }}css/changelists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ type.plural_name }}{% endblock %}

{% block content %}

<h1>{{ type.plural_name }}</h1>

{% get_permissions_from_web "add_perm" "edit_perm" "delete_perm" user web %}
{% if add_perm %}
<ul class="object-tools">
<li><a class="addlink" href="{{ web.get_create_url }}">Create</a></li>
</ul>
{% endif %}

<form method="get">
<table>{{ filter.form.as_table }}</table>
<input type="submit" />
</form>

{% show_list table page_obj.object_list web %}

{% pagination page_obj %}

{% endblock %}
