{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block stylesheet %}{{ MEDIA_URL }}css/changelists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ type.plural_name }}{% endblock %}

{% block content %}

<h1>{{ type.plural_name }}</h1>

{% block tools %}
{% show_list_buttons web user %}
{% endblock %}

<form method="get">
<table>{{ filter.form.as_table }}</table>
<input type="submit" />
</form>

{% show_list table page_obj.object_list web %}

{% pagination page_obj %}

{% endblock %}
