{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load inventory %}

{% block object %}
<dl class="infobox">
<dt>OS</dt><dd>{{ object }}</dd>
<dt>Name</dt><dd>{{ object.name }}</dd>
<dt>First seen</dt><dd>{{ object.seen_first }}</dd>
<dt>Last seen</dt><dd>{{ object.seen_last }}</dd>
<dt>Computer Name</dt><dd>{{ object.computer_name }}</dd>
<dt>Storage</dt><dd><a href="{{ object.storage.get_absolute_url }}">{{ object.storage }}</a></dd>
{% if object.storage.used_by %}
<dt>Used by</dt><dd><a href="{{ object.storage.used_by.get_absolute_url }}">{{ object.storage.used_by }}</a></dd>
{% endif %}
</dl>

{% if object.active_software_installations %}
<h2>Active Software Installations</h2>
{% show_software_installation_list object.active_software_installations %}
{% endif %}

{% if object.inactive_software_installations %}
<h2>Deleted Software Installations</h2>
{% show_software_installation_list object.inactive_software_installations %}
{% endif %}

<h2>History</h2>

{% show_history object %}

{% endblock %}
