{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load inventory %}

{% block title %}{{ software }} by {{ party }}{% endblock %}

{% block object %}
<h1>{{ software }} by {{ party }}</h1>

{% block tools %}
{% show_view_buttons software_web user software %}
{% endblock %}

{% get_licenses_by_software_owner "licenses" software party %}
{% get_license_keys_by_software_owner "license_keys" software party %}
{% get_active_software_installations_by_software_owner "active_installations" software party %}

<dl class="infobox">
<dt>Party</dt><dd><a href="{{ party.get_absolute_url }}">{{ party }}</a></dd>
<dt>Software</dt><dd><a href="{{ software.get_absolute_url }}">{{ software }}</a></dd>
<dt>Num installations</dt><dd>
    {% ifnotequal licenses_max None %}
    max {{licenses_max}} / found
    {% endifnotequal %}
    {{licenses_found}}
    {% ifnotequal licenses_left None %}
    / left {{licenses_left}}
    {% endifnotequal %}
</dd>
<dt>Comments</dt><dd>{{software.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

<h2>Licenses</h2>

{% show_license_list licenses %}

<h2>License keys</h2>

{% show_license_key_list license_keys %}

<h2>Active Software Installations</h2>

{% show_software_installation_list active_installations %}

<h2>History</h2>

{% show_history software %}

{% endblock %}
