{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

{% block tools %}
{% show_view_buttons web user object %}
{% endblock %}

<dl class="infobox">
<dt>Party</dt><dd>{{ object }}</dd>
<dt>E-Party</dt><dd>{{ object.eparty }}</dd>
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

{% show_error_list object.error_list %}

{% if object.assigned_hardware_tasks.all %}
<h2>Tasks</h2>
{% show_hardware_task_list object.assigned_hardware_tasks.all %}
{% endif %}

{% if object.owns_locations.all %}
<h2>Owner of Locations</h2>
{% show_location_list object.owns_locations.all %}
{% endif %}

{% if object.uses_locations.all %}
<h2>User of Locations</h2>
{% show_location_list object.uses_locations.all %}
{% endif %}

{% if object.owns_licenses.all %}
<h2> Licenses </h2>
{% show_license_list object.owns_licenses.all %}
{% endif %}

{% if object.owns_hardware.all %}
<h2> Owner of Hardware </h2>
{% show_hardware_list object.owns_hardware.all %}
{% endif %}

{% if object.uses_hardware.all %}
<h2> User of Hardware </h2>
{% show_hardware_list object.uses_hardware.all %}
{% endif %}

<h2>History</h2>
{% show_history object %}

{% endblock %}
