{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

{% block tools %}
{% show_view_buttons web user object %}
{% endblock %}

<dl class="infobox">
<dt>Software</dt><dd>{{ object }}</dd>
<dt>Num installations</dt><dd>
    {% ifnotequal object.software_installations_max None %}
    max {{object.software_installations_max}} / found
    {% endifnotequal %}
    {{object.software_installations_found}}
    {% ifnotequal object.software_installations_left None %}
    / left {{object.software_installations_left}}
    {% endifnotequal %}
</dd>
{% if object.vendor %}
<dt>Vendor</dt><dd><a href="{{ object.vendor.get_absolute_url }}">{{ object.vendor }}</a></dd>
{% endif %}
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

{% show_error_list object.error_list %}

<h2>Licenses</h2>

{% show_license_list object.licenses %}

<h2>License Keys</h2>

{% show_license_key_list object.license_key_set.all %}

<h2>Active Software Installations</h2>

{% show_software_installation_list object.active_software_installations %}

<h2>Deleted Software Installations</h2>

{% show_software_installation_list object.inactive_software_installations %}

<h2>History</h2>

{% show_history object %}

{% endblock %}
