{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load inventory %}

{% block object %}
<dl class="infobox">
<dt>Task</dt><dd>{{ object }}</dd>
<dt>Number computers total</dt><dd>{{object.hardware_tasks_all.count}}</dd>
<dt>Number computers done</dt><dd>{{object.hardware_tasks_done.count}}</dd>
<dt>Number computers todo</dt><dd>{{object.hardware_tasks_todo.count}}</dd>
<dt>Comments</dt><dd>{{object.comments|urlizetrunc:40|linebreaks }}</dd>
</dl>

<h2>Todo</h2>

{% show_hardware_task_list object.hardware_tasks_todo %}

<h2>Done</h2>

{% show_hardware_task_list object.hardware_tasks_done %}

<h2>History</h2>

{% show_history object %}

{% endblock %}
