{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% if perms.lintory.change_task or perms.inventory.delete_task or perms.inventory.add_hardware_task %}
<ul class="object-tools">
{% if perms.lintory.change_task %}
<li><a class="changelink" href="{{ object.get_edit_url }}">Edit</a></li>
{% endif %}
{% if perms.lintory.delete_task %}
<li><a class="deletelink" href="{{ object.get_delete_url }}">Delete</a></li>
{% endif %}
{% if perms.lintory.add_hardware_task %}
<li><a class="addlink" href="{{ object.get_add_computer_url }}">Add computer</a></li>
{% endif %}
</ul>
{% endif %}

<dl class="infobox">
<dt>Task</dt><dd>{{ object }}</dd>
<dt>Number computers total</dt><dd>{{object.hardware_tasks_all.count}}</dd>
<dt>Number computers done</dt><dd>{{object.hardware_tasks_done.count}}</dd>
<dt>Number computers todo</dt><dd>{{object.hardware_tasks_todo.count}}</dd>
<dt>Comments</dt><dd>{{object.comments|linebreaks }}</dd>
</dl>

{% show_error_list object.error_list %}

<h2>Computers</h2>

{% show_hardware_task_list object.hardware_tasks_todo %}

<h2>History</h2>

{% show_history "task" object %}

{% endblock %}
