{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block stylesheet %}{{ MEDIA_URL }}css/changelists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}

<h1>Tasks</h1>

{% if perms.lintory.add_task %}
<ul class="object-tools">
<li><a class="addlink" href="{% url task_create %}">Create</a></li>
</ul>
{% endif %}

{% show_task_list page_obj.object_list %}

{% pagination page_obj %}

{% endblock %}
