{% extends "base_site.html" %}
{% load i18n %}
{% load inventory %}

{% block stylesheet %}{{ STATIC_URL }}css/changelists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Parties{% endblock %}

{% block content %}
<h1>Parties</h1>

{% get_permissions_from_type "add_perm" "edit_perm" "delete_perm" user type %}
{% if add_perm %}
<ul class="object-tools">
<li><a class="addlink" href="{{ type.get_create_url }}">Create</a></li>
</ul>
{% endif %}

<p>List details for objects where <a href="{% url party_detail "none" %}">no party</a> is defined.</p>

{% if page_obj.object_list %}
    <table>
      <tr>
        <th>Name</th>
      </tr>
    {% for person in page_obj.object_list %}
      {% with person.error_list as error_list %}{% if error_list %}
      <tr><td colspan='1'>{% show_error_list error_list %}</td></tr>
      {% endif %}{% endwith %}
      <tr>
        <td><a href="{{ person.get_absolute_url }}">{{ person }}</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No parties are available.</p>
{% endif %}

{% pagination page_obj %}

{% endblock %}
