{% load inventory %}
{% if object_list %}
<table>
  <tr>
    <th>Computer</th>
    <th>Storage</th>
    <th>OS</th>
{% if not hide.software %}
    <th>Software</th>
{% endif %}
    <th>Version</th>
{% if not hide.license_key %}
    <th>Key</th>
{% endif %}
{% if not hide.license %}
    <th>License</th>
{% endif %}
{% if perms.lintory.change_software_installation or perms.inventory.delete_software_installation %}
    <th colspan="3">Actions</th>
{% endif %}
  </tr>
{% for installation in object_list %}
    {% with installation.error_list as error_list %}{% if error_list and installation.active %}
    <tr><td colspan='10'>{% show_error_list error_list %}</td></tr>
    {% endif %}{% endwith %}
    <tr>
{% if installation.os.storage.used_by %}
      <td><a href="{{ installation.os.storage.used_by.get_absolute_url }}">{{installation.os.storage.used_by}}</a></td>
{% else %}
      <td>Hard disk not used</td>
{% endif %}
      <td><a href="{{ installation.os.storage.get_absolute_url }}">{{installation.os.storage}}</a></td>
      <td><a href="{{ installation.os.get_absolute_url }}">{{installation.os}}</a></td>
{% if not hide.software %}
      <td><a href="{{ installation.software.get_absolute_url }}">{{installation.software}}</a></td>
{% endif %}
      <td>{{installation.software_version}}</td>
{% if not hide.license_key %}
    {% if installation.license_key %}
        <td>{% show_license_key installation.license_key %}</td>
    {% else %}
        <td>None</td>
    {% endif %}
{% endif %}
{% if not hide.license %}
    <td>
    {% if installation.license_key %}
        <a href="{{ installation.license_key.license.get_absolute_url }}">{{installation.license_key.license}}</a>
        {% if installation.license_key.license.get_owner %}
            owner <a href="{{ installation.license_key.license.get_owner.get_absolute_url }}">{{ installation.license_key.license.get_owner }}</a>
        {% else %}
            owner None
        {% endif %}
    {% else %}
          No license
    {% endif %}
    </td>
{% endif %}
{% if perms.lintory.change_software_installation or perms.inventory.delete_software_installation %}
{% if perms.lintory.change_software_installation %}
      <td><a class="changelink" href="{{ installation.get_edit_url }}">edit</a></td>
      <td><a class="changelink" href="{{ installation.get_edit_license_key_url }}">key</a></td>
{% else %}
      <td></td>
      <td></td>
{% endif %}
{% if perms.lintory.delete_software_installation %}
      <td><a class="deletelink" href="{{ installation.get_delete_url }}">delete</a></td>
{% else %}
      <td></td>
{% endif %}
{% endif %}
      </td>
    </tr>
{% endfor %}
</table>
{% endif %}
