#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON_SYSTEM := pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	rm -rf build build-stamp configure-stamp build/ MANIFEST
	dh_clean

install/lintory::
	rm debian/lintory/usr/lib/python2.7/site-packages/lintory/static/js/jquery.js
	ln -s /usr/share/javascript/jquery/jquery.js debian/lintory/usr/lib/python2.7/site-packages/lintory/static/js/jquery.js
	rm debian/lintory/usr/lib/python2.7/site-packages/lintory/static/js/jquery-ui.js
	ln -s /usr/share/javascript/jquery-ui/jquery-ui.js debian/lintory/usr/lib/python2.7/site-packages/lintory/static/js/jquery-ui.js
	rm debian/lintory/usr/lib/python2.7/site-packages/lintory/static/css/jquery-ui.css
	ln -s /usr/share/javascript/jquery-ui/css/smoothness/jquery-ui.css debian/lintory/usr/lib/python2.7/site-packages/lintory/static/css/jquery-ui.css
	rm -r debian/lintory/usr/lib/python2.7/site-packages/lintory/static/css/images
	ln -s /usr/share/javascript/jquery-ui/css/smoothness/images debian/lintory//usr/lib/python2.7/site-packages/lintory/static/css/images
